#### How to create connection to the database?

In [ ]:
import mysql.connector

con = mysql.connector.connect(host="localhost", user="root", password="mysql")

print("Connection = ",con)

con.close()

In [ ]:
from getpass import getpass
from mysql.connector import connect, Error

try:
   con = connect(host="localhost",
                 user=input("Enter username:"),
                 password=getpass("Enter password:"))
except Error as e:
    print(e)
else:
    print("connection con =",con)
    con.close()

#### How to create a database?

In [ ]:
from mysql.connector import connect, Error

try:
    con = connect(host="localhost",user="root",password="mysql")
    
    cursor = con.cursor()
    
    cursor.execute("CREATE DATABASE db3")
    print("cursor = ",cursor)
    
    cursor.close()
    
    con.close()
except Error as e:
    print(e)

#### How to connect to specific a database?

In [ ]:
from mysql.connector import connect, Error

try:
    con = connect(host="localhost",user="root",password="mysql",database='db1')
    cursor = con.cursor()
    
    cursor.execute("SHOW TABLES")
    
    for db in cursor:
        print(db)
        
    cursor.close()
    
    con.close()
except Error as e:
    print(e)

#### How to create a table?

In [ ]:
from mysql.connector import connect, Error

try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor()
    
    sql = "CREATE TABLE customers(name VARCHAR(20), address VARCHAR(255))"
    cursor.execute(sql)
    print("Table customers created. cursor =",cursor)
    
    cursor.close()
    con.close()
except Error as e:
    print(e)

In [ ]:
from mysql.connector import connect, Error
try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor()
    
    # Drop table if it already exist using execute() method.
    cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

    # Create table as per requirement
    sql = """CREATE TABLE EMPLOYEE (
         FIRST_NAME CHAR(20) NOT NULL,
         LAST_NAME CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""
    cursor.execute(sql)
    print("Table EMPLOYEE created.")
    
    cursor.close()
    con.close()
except Error as e:
    print(e)

#### primary key

If the table already exists, use the ALTER TABLE keyword:

In [ ]:
try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor()
    
    cursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")
    print("Table altered.")
    
    cursor.close()
    con.close()
except Error as e:
    print(e)

#### List tables for a given database

In [ ]:
from mysql.connector import connect, Error

try:
    con = connect(host="localhost",user="root",password="mysql",db='db3')
    cursor = con.cursor()
    
    cursor.execute("SHOW TABLES")

    for tbl in cursor:
        print(tbl)
        
    cursor.close()
    con.close()
except Error as e:
    print(e)

#### How to insert one row into table?

In [ ]:
try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor()
    
    sql = "INSERT INTO customers (name, address) VALUES ('McGrath', 'Australia')"
    
    cursor.execute(sql)
    con.commit()
    
    print("Row inserted into the table customers.")
    
    cursor.close()
    con.close()
except Error as e:
    print(e)

In [ ]:
try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor()
    
    sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
    val = ("Steve Waugh", "Australia")
    
    cursor.execute(sql, val)
    con.commit()
    
    print("Row inserted into the table customers.")
    
    cursor.close()
    con.close()
except Error as e:
    print(e)

#### How to insert multiple rows into table?

In [ ]:
try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor()
    
    sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
    val = [
  ('Mohandas', 'porbandar'),
  ('Vallabh', 'karamsad'),
  ('Ramkrishna', 'bellur'),
  ('Samarth', 'maharashtra'),
  ('pratap', 'udepur'),
]
    
    cursor.executemany(sql, val) ## notice executemany()
    con.commit()
    
    print(cursor.rowcount,"rows inserted.")
    
    cursor.close()
    con.close()
except Error as e:
    print(e)

#### How to get rowid of last inserted row?

In [ ]:
try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor()
    
    sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
    val = ("Bhagatsingh", "punjab")
    
    cursor.execute(sql, val)
    con.commit()
    
    print(cursor.rowcount,"rows inserted. Rowid=",cursor.lastrowid)
    
    cursor.close()
    con.close()
except Error as e:
    print(e)

#### commit and rollback

In [ ]:
try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor()
    
    sql = """INSERT INTO EMPLOYEE(FIRST_NAME,LAST_NAME, AGE, SEX, INCOME)
         VALUES ('akshaykumar', 'bhatia', 47, 'M', 20000000)"""
    
    cursor.execute(sql)
    con.commit()
    
    print(cursor.rowcount,"rows inserted. Rowid=",cursor.lastrowid)
    
    cursor.close()
    con.close()
except:
    con.rollback() ## notice rollback. you may experiment inserting duplicate value of already existing p.key.
    print(e)

#### Fetching all rows from table

In [ ]:
try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor()
    
    sql = "select * from customers"
        
    cursor.execute(sql)
    
    # fetching all records from the 'cursor' object
    records = cursor.fetchall()
    
    ## Showing the data
    for record in records:
        print(record)
    
    cursor.close()
    con.close()
except Error as e:
    print(e)

#### Getting Some Columns

In [ ]:
try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor()
    
    sql = "select name from customers"
        
    cursor.execute(sql)
    
    # fetching all records from the 'cursor' object
    records = cursor.fetchall()
    
    ## Showing the data
    for record in records:
        print(record)
    
    cursor.close()
    con.close()
except Error as e:
    print(e)

#### Fetching certain rows only

In [ ]:
try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor()
    
    sql = "select * from customers where id=7"
        
    cursor.execute(sql)
    
    # fetching all records from the 'cursor' object
    records = cursor.fetchall()
    
    ## Showing the data
    for record in records:
        print(record)
    
    cursor.close()
    con.close()
except Error as e:
    print(e)

In [ ]:
try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor()
    
    sql = "select * from customers where name = 'pratap'"
    val = (1)
    
    cursor.execute(sql)
    records = cursor.fetchall()
    
    ## Showing the data
    for record in records:
        print(record)
    
    cursor.close()
    con.close()
except Error as e:
    print(e)

In [ ]:
try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor()
    
    sql = "select * from customers"
    
    cursor.execute(sql)
    
    records = cursor.fetchall()
    
    ## Showing the data
    for record in records:
        print(record[0],record[1],record[2])
    print('\n\n')
    for record in records:
        print(record[2],':',record[0],'-',record[1])
        
    cursor.close()
    con.close()
except Error as e:
    print(e)

#### Passing parameters in the select query

In [ ]:
try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor()
    
    sql = "select * from customers where name=%s"
    val=('Samarth',)
    
    cursor.execute(sql,val)
    
    records = cursor.fetchall()
    
    ## Showing the data
    for record in records:
        print(record[0],record[1],record[2])
    print('\n\n')
    for record in records:
        print(record[2],':',record[0],'-',record[1])
        
    cursor.close()
    con.close()
except Error as e:
    print(e)

#### Access fetched rows using column names

In [ ]:
try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor(dictionary=True) # notice parameter
    
    sql = "select * from customers"
    
    cursor.execute(sql)
    
    records = cursor.fetchall()
    
    ## Showing the data
    for record in records:
        print(record['id'],':',record['name'],'-',record['address']) # notice indices
        
    cursor.close()
    con.close()
except Error as e:
    print(e)

#### Delete certain row

In [ ]:
from mysql.connector import connect, Error

try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor()
    
    sql = "delete from customers where name=%s"
    val=('Mohandas',)
    
    cursor.execute(sql,val)
    con.commit()
    print("row deleted.")
    #cursor.close()
    
    
    sql = "select * from customers"
    cursor.execute(sql)
    records = cursor.fetchall()
    
    ## Showing the data
    for record in records:
        print(record[2],':',record[0],'-',record[1])
        
    cursor.close()
    con.close()
except Error as e:
    print(e)

#### Update row

In [ ]:
from mysql.connector import connect, Error

try:
    con = connect(host="localhost",user="root",password="mysql",database='db3')
    cursor = con.cursor()
    
    sql = "update customers set name=%s where name=%s"
    newname='Sardar Vallabhbhai'
    oldname='Vallabh'
    val=(newname,oldname)
    
    cursor.execute(sql,val)
    con.commit()
    print("row updated.")
    #cursor.close()
    
    
    sql = "select * from customers"
    cursor.execute(sql)
    records = cursor.fetchall()
    
    ## Showing the data
    for record in records:
        print(record[2],':',record[0],'-',record[1])
        
    cursor.close()
    con.close()
except Error as e:
    print(e)

### Exercises
<ol>
    <li> Create connection to the mysql on localhost. Install necessary driver/package if required.
    <li> List all the databases available in your mysql server.
    <li> Create a database dbStudent. Connect to it.
    <li> Create a table tblStudent with columns of suitable type: rollno, name, birthdate, gender, cmarks, cppmarks, pythonmarks,totalmarks, percentage and grade.
    <li> Insert at least 10 rows (only rollno, name, birthdate, gender, cmarks, cppmarks, pythonmarks) into tblStudent. Use different ways for the same (as shown in various examples shown above).
    <li> Print all rows (only rollno, name, birthdate, gender, cmarks, cppmarks, pythonmarks) on screen (as shown in various examples shown above).
    <li> Compute & update totalmarks for all rows in table.
    <li> Compute & update percentage for all rows in table.
    <li> Compute & update grade for all rows in table.
    <li> Print all rows with only columns: rollno, name, percentage and grade.
    <li> Print merit list.
    <li> Print first two toppers.
    <li> Print girl students who have failed in at least two subjects.
    <li> Print youngest female topper.
    <li> Print oldest male topper.
    <li> Change birth month to January who were born in December.
    <li> Change birthdate of topper student as 01-01-2000.
    <li> List all students whose birthdate is yet to come during 2024.
    <li> Create a stored procedure for inserting row in table. Show usage of it.
    <li> Create a stored procedure for fetching only female student rows.  Show usage of it.
    <li> Create a stored procedure for fetching student records having grade as a specific parameter given by user. Show usage of it.
</ol>